    ::selection {
        background-color: #E13300;
        color: white;
    }

    ::moz-selection {
        background-color: #E13300;
        color: white;
    }

    ::webkit-selection {
        background-color: #E13300;
        color: white;
    }

    body {
        margin: 40px;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
        background-color: #ffffe4!important;
    }

    .dauber-navbar a,
    .dauber-navbar a:link,
    .dauber-navbar a:visited {
        color: #fff;
    }

    /* NAVBAR */
.dauber-navbar {
    height: 40px;
    background-color: #000;
    color: #fff;
    z-index: 1;
}

.db-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-color: #aeaeae;
    border-right-style: dotted;
    position: relative;
    padding-left: 9px;
}

.navbarText {
    font-size: 14px!important;
    line-height: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.dn-dog, .dn-msg, .dn-ext {
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    vertical-align: bottom;
    width: 16px;
}

#dog_container{
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    background-image: url('/images/grass_bg.jpg');
    border-radius: 8px;
    box-shadow: 3px 8px 5px 2px #D0D0D0;
    padding-top: 15px;
    margin-top: 7   5px;
}

#logo {
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.btn-ltd {
    --bs-btn-color: #fffb00!important;
    --bs-btn-bg: #097716!important;
    --bs-btn-border-color: #097716!important;
    --bs-btn-hover-color: #fffb00;
    --bs-btn-hover-bg: #099c59;
    --bs-btn-hover-border-color: #099c59;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #e5f89a;
    --bs-btn-active-bg: rgb(61.4, 212.6, 243);
    --bs-btn-active-border-color: rgb(37.2, 207.3, 241.5);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #e5f89a;
    --bs-btn-disabled-bg: #5fc452;
    --bs-btn-disabled-border-color: #5fc452;
    max-width: 30%;
}

.btn-dtl {
    --bs-btn-bg: #fffb00!important;
    --bs-btn-color: #097716!important;
    --bs-btn-hover-bg: #fffb00;
    --bs-btn-hover-color: #099c59;
    --bs-btn-border-color: #ffff25;
    --bs-btn-hover-border-color: #fff25;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #5fc452;
    --bs-btn-active-border-color: rgb(37.2, 207.3, 241.5);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5fc452;
    --bs-btn-disabled-bg: #e5f89a;
    --bs-btn-disabled-border-color: #e5f89a;
    max-width: 30%;
}

@font-face {
    font-family: 'CooperBlack';
    src: url('fonts/cooper_becker_poster_black.ttf') format('truetype');
}

.navbarDropdown {
    background-color: #000!important;
    color: #fff!important;
}

.navbarDropdown a {    text-decoration: none;}
.navbarDropdown a:hover {    color: #fffb00!important;}
.dn-dog {     background-image: url('/img/glyphicons_002_dog_white_half.png'); }
.dn-msg {     background-image: url('/img/glyphicons_120_message_full_white_half.png'); }
.forceWhite { color: #fff!important;}
.dogText {    font-family: "CooperBlack";}
/* END NAVBAR */